<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lending Club</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/i_style_final.css') }}">
</head>

<body>
    <!-- 導覽列 -->
    <div class="container">
        <div class="row ">
            <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-flex justify-content-between ">
                <a class="navbar-brand" href="{{url_for('home')}}">
                    <img src="{{ url_for('static', filename='logo/Lending_club_logo.png') }}" alt="" width="200px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active " href="{{url_for('investor')}}">Investor<span
                                class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="{{url_for('manager')}}">LC manager</a>
                        <a class="nav-item nav-link" href="{{url_for('loandata')}}">Loan Data</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <!-- 首頁大圖 -->
    <!-- 
    <div class="container">
        <div class="row justify-content-center">
            <div class="box col-12">
                jjjjjjjjjjj
            </div>
        </div>
    </div>
    -->
    <div class="container-fluid canvas">
        <div class="row justify-content-center ">
            <div class="jumbotron  col-12 mb-0 bg">
            </div>
        </div>
    </div>

    <!-- 內容 -->
    <div class="container ">
        <div class="row justify-content-center">
            <div class="title">
                <h2 class="text-center">P2P Investor</h2>
                <div class="title-baseline"></div>
                <h3 class="text-center mt-4">Evaluate Platform Borrowers</h3>
            </div>

            <div class="info">
                Get start a prediction of loan with our Smart P2P Investment Decision Support System<br> and choose the suitable and profitable loans for you.
            </div>

        </div>
    </div>

    <!-- 輪播表單 -->

    <div class="container">
        <!-- 標題區 -->
        <div class="row justify-content-center">
            <div class="title text-center">
                <h4>Prediction of Loan Status</h4>
                <div class="desc">To predict the loan status of an upcoming borrower, please enter the details of his financial description.
                </div>
            </div>
        </div>
        <!-- 選項區 -->
        <div id="carouselId" class="carousel slide col-12" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                <li data-target="#carouselId" data-slide-to="1"></li>
                <li data-target="#carouselId" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active ">
                    <div class="row justify-content-center py-5">
                        <form id="form-master" class="col-8 form-master ">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label class="form-item">Issued Loan Amount</label>
                                    <input id="form-loan-amt" type="text" class="form-control" placeholder="enter the loan amount ">
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-item">Grade of Borrower</label>
                                    <select id="form-grade" class="form-control">
                                                            <option value="1">A</option>
                                                            <option value="2">B</option>
                                                            <option value="3">C</option>
                                                            <option value="4">D</option>
                                                            <option value="5">E</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-item">Interest Rate</label>
                                <select id="form-interest" class="form-control">
                                        <option value="1">5%以下(不含5%)</option>
                                        <option value="2">5%-10%(不含10%)</option>
                                        <option value="3">10%-15%(不含15%)</option>
                                        <option value="4">15%-20%(不含20%)</option>
                                        <option value="5">20%-25%(不含25%)</option>
                                        <option value="6">25%-30%(不含30%)</option>
                                        <option value="7">30%以上</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label class="form-item">Disbursement Methods</label>
                                <div class="radio-select">
                                    <div id="disbursement-radio" class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="disbursement" id="disbursement1" value="1" checked>
                                        <label class="form-check-label">Transfer Payment</label>
                                    </div>
                                    <div id="disbursement-radio" class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="disbursement" id="disbursement2" value="2">
                                        <label class="form-check-label">Cash</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-item">Term Type</label>
                                <div class="radio-select">
                                    <div id="term-radio" class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="term" id="term1" value="1" checked>
                                        <label class="form-check-label">36 months</label>
                                    </div>
                                    <div id="term-radio" class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="term" id="term2" value="2">
                                        <label class="form-check-label">60 months</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row justify-content-center py-5">
                        <form id="form-master" class="col-8 form-master">
                            <div class="form-group">
                                <label class="form-item">Purposes of Loan</label>
                                <select id="form-item-purpose-groups" multiple class="form-control">
                                    <option value="1" selected>Debt Consolidation</option>
                                    <option value="2">Credit Card</option>
                                    <option value="3">Home Improvement</option>
                                    <option value="4">Car</option>
                                    <option value="5">House</option>
                                    <option value="6">Medical use</option>
                                    <option value="7">Moving</option>
                                    <option value="8">Major Purchase</option>
                                    <option value="9">Vacation</option>
                                    <option value="10">Wedding</option>
                                    <option value="11">Small Business</option>
                                    <option value="12">Educational Use</option>
                                    <option value="13">Renewable Energy</option>
                                    <option value="14">Others</option>
                                </select>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="row justify-content-center py-5">
                        <form id="form-master" class="col-8 form-master">
                            <div class="form-group">
                                <label class="form-item">Ratio of Consumption to Credit Limit</label>
                                <select id="form-consumption" class="form-control">
                                    <option value="1">50%以下(不含50%)</option>
                                    <option value="2">50%-75%(不含75%)</option>
                                    <option value="3">75%-100%(不含100%)</option>
                                    <option value="4">100%以上</option>
                                </select>
                            </div>
                            <div class="mt-4">
                                <label class="form-item">Usage of Revolving Accounts</label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label class="form-subitem">Debt of Accounts</label>
                                    <select id="form-item-debt-groups" multiple class="form-control">
                                        <option value="1"  selected>$10000以下</option>
                                        <option value="2">$10000-$19999</option>
                                        <option value="3">$20000-$29999</option>
                                        <option value="4">$30000-$39999</option>
                                        <option value="5">$40000-$49999</option>
                                        <option value="6">$50000以上</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-subitem">Available Balance</label>
                                    <select id="form-item-balance-groups" multiple class="form-control">
                                        <option value="1">$10000以下</option>
                                        <option value="2">$10000-$49999</option>
                                        <option value="3">$50000-$99999</option>
                                        <option value="4">$100000-$199999</option>
                                        <option value="5">$200000-$299999</option>
                                        <option value="6"  selected>$300000以上</option>
                                    </select>
                                </div>
                            </div>
                            <button id="prediction-btn" type="button" class="btn btn-warning mt-3">Predict</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next align-middle" href="#carouselId" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- 結果顯示區 -->
        <div class="row justify-content-center">
            <div class="mt-5 col-8 text-center prediction-area">------ Prediction Outcome -----</div>
            <div id="prediction-result" class="mt-5 py-3 col-8 text-center"></div>
        </div>
    </div>



    <!--
    單一表單：獲利率預測使用

    <div class="container">
        <div class="row justify-content-center">
            <div class="title text-center">
                <h4>2.Prediction of Net Annualized Return</h4>
                <div class="desc mb-5">To predict net annualized return of an investment of an upcoming borrower, please enter the details of his financial description.</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <form id="form-master" class="col-8 mb-5 form-master">
                <div id="form-1">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label>Issued Loan Amount</label>
                            <input id="loan_amt" type="text" class="form-control" placeholder="enter the loan amount ">
                        </div>
                        <div class="form-group col-4">
                            <label>Grade of Borrower</label>
                            <select id="grade" class="form-control">
                            <option value="A" >A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                        </select>
                        </div>
                        <div class="form-group col-4">
                            <label>Interest Rate</label>
                            <input type="number" class="form-control" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Purpose of Loan</label>
                        <select multiple class="form-control">
                            <option>debt consolidation</option>
                            <option>credit card</option>
                            <option>home improvement</option>
                            <option>car</option>
                            <option>house</option>
                            <option>medical use</option>
                            <option>moving</option>
                            <option>major purchase</option>
                            <option>vacation</option>
                            <option>wedding</option>
                            <option>small business</option>
                            <option>educational use</option>
                            <option>renewable energy</option>
                            <option>others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formControlRange">Interest Rate</label>
                        <div class="bar-group-1 d-flex align-items-center justify-content-between">
                            <div class="col-8 px-0">
                                <input type="range" class="form-control-range " id="bar-control-1" value="0" min="0" max="255">
                            </div>
                            <div id="bar-show-1" class="col-2 text-center">0</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Term Type</label>
                        <div class="radio-select">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">36 months</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">60 months</label>
                            </div>
                        </div>

                    </div>
                </div>
                <button id="prediction" type="button" class="btn btn-primary mt-3">Predict</button>
            </form>
        </div>
    </div>
    -->


    <!-- jquery.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <!-- popper.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <!-- bootstrap.min.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script src="{{ url_for('static',filename='js/i_action_final.js') }}"></script>
</body>

</html>